.modal {
  border: 1px solid #1d1b20;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.modal h1 {
  font-size: 32px;
  padding: 12px;
}

.selecao-idade {
  display: flex;
  justify-content: space-between;
}

.container-categorias {
  justify-content: center;
  margin: 0 24px;
}

.container-categorias span {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 6px;
  margin: 0 10px;
}

.container-categorias li {
  list-style-type: none;
}

.modal .selecao-idade ul {
  list-style-type: none;
  margin: 0 0 0 -1em;
  padding: 0;
}

.modal .selecao-idade ul li {
  margin: 12px 12px 10px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1d1b20;
  text-align: start;
  padding: 0;
}

.modal .selecao-idade ul li span {
  vertical-align: middle;
  padding: 0 12px;
}

.modal .selecao-categoria {
  margin-top: 32px;
  color: #1d1b20;
}
.modal .modal-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modal .modal-actions button {
  margin: 0 8px;
  width: 100%;
}
